@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    width: 100% !important;
    height: 100%!important;
    place-items: center;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #0085e43d 74%);

}

img {
    max-width: 100% !important;
    display: block;
    object-fit: cover;

}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(30rem, calc(30rem + 1vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info > small {
    color: #666;
}
.imageSend{
    width: 30px;
    height: 30px;
    position: fixed;
    left: 51px;
    cursor: pointer;
}
.detailConnect{
    position: relative;
    right: 89%;
    bottom: 30px;
}
.hour{
    position: relative;
    right: 84%;
    bottom: 30px;
}
.detailDate {
    position: relative;
    left: 83%;
    bottom: 37px;
}
.card{
    border-radius: 30px;
    box-shadow: 0 0 6px 0 #55555533;
    width: 100% !important;
    background-color: #5ca0f2;
    background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}
.photoAnnounce{

    height: 100%;
    width: 100%;
    position: relative;
    /* position: initial; */
    bottom: 69px;
    object-fit: cover;
}
.tache{
    position: relative;
    right: 60px!important;
}
.announce{

    margin: 20px;
}
.commentZone{
    /*background-color: white;*/
    /*box-shadow: 0 0 6px 0 #55555533;*/
    /*width: 90%;*/
    /*position: relative;*/
    /*bottom: 47px;*/
    /*right: 40px;*/
    /*border-radius: 30px;*/
    box-shadow: 0 0 6px 0 #55555533;
    width: 129%;
    position: relative;
    bottom: -49px;
    left: 50px;
    background-color: #5ca0f2;
    background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);

}
.commentaire{
    overflow-y: scroll;
    border-radius: 50px;
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}
