.login{
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);

}
.details{
    font-weight: bold;
    font-size: 15px;
}
.title{
    font-weight: bold;
    position: relative;
    font-style: italic;
    font-size: 20px;
    bottom:15px !important;

}
.detail{
    font-size: large;
    font-style: italic;
    color: black;
}
.formLogin{
    box-shadow: 0px 0px 20px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginInput {
    margin-bottom: 25px;
    font-size: 18px !important;
    width: 100%;
    height: 9%;
    border-radius: 50px;
    font-weight: bold;
}
.button{
    width: 100%;
    display: flex;
    height: 63px;
    font-weight: bold;
    font-size: 18px;
}
.btn-login{
    /*width: 100%;*/
    /*height: 100%;*/
    font-size: 15px;
    font-family: inherit;
    font-style: italic;
    font-stretch: initial;
    border-radius: 50px;
}