body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
    direction: rtl;

}

.bodyContainer {
    position: fixed;
    width: calc(100vw - 240px);
    height: calc(100vh - 50px);
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;

}

input {
    border: unset;
    border-radius: 10px;
    min-height: 40px;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;

}

input:focus-visible {
    outline: unset;

}

button {
    cursor: pointer;
    border: unset;
    min-height: 30px;
    min-width: 100px;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 50px;
    margin: 0 5px;
    color: white;
}

.btn-success {
    background-color: dodgerblue;
     color: white;
     height: 50px;
    font-weight: bold;
    margin-left:10px
}

.btn-error {
    background-color: red;
    color: white;
    height: 50px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

}

th {
    border: 3px solid #f0f2f5;
    height: 40px;
}

td {
    border: 3px solid #f0f2f5;
    height: 50px ;
    padding: 10px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    z-index: 99999999999999999999999999999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 58, 80, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.loaderImage {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

label{
    font-weight: bold;
    font-size: 13px;

}
